.hero {
    background-color: $color-primary;
    background-image: linear-gradient(to bottom right, $color-primary, $color-secondary);
    min-height: 70vh;
    position: fixed;
    top: 2.5rem;
    left: 2.5rem;
    padding: 0 15px;
    width: calc(100% - 5rem);
    border-radius: 5px;
    transition: all .5s;
    @include atSmall {
        padding: 0 30px;
        min-height: 0;
    }

    &__content {
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 4rem 0 10rem 0;
    }

    &__logo {
        width: 6.667rem;
        height: auto;
        margin-bottom: 4rem;
        position: relative;
        @include atSmall {
            width: 5rem;
            margin-bottom: 3rem;
        }

        &-img {
            width: 100%;
            height: auto;
        }

        &:after {
            content: "";
            position: absolute;
            bottom: -1rem;
            left: 0;
            width: 6.667rem;
            height: 5px;
            background-color: $color-accent;
            @include atSmall {
                width: 5rem;
                bottom: -1.5rem;
            }
        }
    }

    &__links {
        margin-top: 2.5rem;
        @include atSmall {
            display: flex;
            justify-content: flex-start;
            margin-top: 1.875rem;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 1.333rem;
        @include atSmall {
            margin-bottom: 0;
            margin-right: 0.75rem;
        }

        &-item {
            & + & {
                margin-left: 1rem;
                @include atSmall {
                    margin-left: 0.75rem;
                }
            }
        }

        &-link {
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            font-size: 1.667rem;
            background-color: $color-accent;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .25s;
            border: 2px solid $color-accent;
            box-shadow: 0 10px 20px rgba($color-black, 0.09), 0 6px 6px rgba($color-black, 0.123);
            @include linkStates($color-primary, none);
            @include atSmall {
                height: 3rem;
                width: 3rem;
                font-size: 1.25rem;
            }

            &:hover {
                background-color: transparent;
                color: $color-accent;
            }
        }
    }

    &__cta {
        flex: 1;
        @include atSmall {
            flex: 0 0 auto;
        }
    }

    &--inactive {
        opacity: 0;
        transform: translateX(calc(-100% - 5rem));
    }
}