.hero {
    background-color: $color-primary;
    background-image: linear-gradient(to bottom right, $color-primary, $color-secondary);
    min-height: 70vh;
    top: 15px;
    left: 15px;
    padding: 0 15px;
    width: 100%;
    transition: all .5s;
    @include atSmall {
        border-radius: 5px;
        padding: 0 30px;
        position: fixed;
        top: 2.5rem;
        left: 2.5rem;
        min-height: 0;
        width: calc(100vw - 5rem);
    }

    &__content {
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 4rem 0 10rem 0;
        @include atSmall {
            padding-bottom: 8rem;
        }
        @include atMedium {
            padding-bottom: 10rem;
        }
    }

    &__logo {
        width: 6.667rem;
        height: auto;
        margin-bottom: 4rem;
        position: relative;
        @include atSmall {
            width: 5rem;
            margin-bottom: 3rem;
        }

        &-img {
            width: 100%;
            height: auto;
        }

        &:after {
            content: "";
            position: absolute;
            bottom: -2.5rem;
            left: 0;
            width: 6.667rem;
            height: 5px;
            background-color: $color-accent;
            @include atSmall {
                width: 5rem;
                bottom: -1.5rem;
            }
        }
    }

    &__links {
        margin-top: 2.5rem;
        @include atSmall {
            display: flex;
            justify-content: flex-start;
            margin-top: 1.875rem;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 1.333rem;
        @include atSmall {
            margin-bottom: 0;
            margin-right: 0.75rem;
        }

        &-item {
            & + & {
                margin-left: 1rem;
                @include atSmall {
                    margin-left: 0.75rem;
                }
            }
        }

        &-link {
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            font-size: 1.667rem;
            background-color: $color-accent;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .25s;
            border: 2px solid $color-accent;
            box-shadow: 0 10px 20px rgba($color-black, 0.09), 0 6px 6px rgba($color-black, 0.123);
            @include linkStates($color-primary, none);
            @include atSmall {
                height: 3rem;
                width: 3rem;
                font-size: 1.25rem;
            }

            &:hover {
                background-color: transparent;
                color: $color-accent;
            }
        }
    }

    &__cta {
        flex: 1;
        @include atSmall {
            flex: 0 0 auto;
        }
    }

    &__wrapper {
        @include atSmall {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
    }

    &__profile {
        position: relative;
        margin-bottom: 3.75rem;
        padding: 0;
        text-align: right;
        @include atMedium {
            padding-right: 2rem;
        }

        &-message {
            position: absolute;
            top: 3rem;
            left: -2.5rem;
            opacity: 0;
            transform: scale(0);
            transition: all .25s;
            pointer-events: none;
            @include atMedium {
                top: 5rem;
                left: 5.5rem;
            }
            @include atLarge {
                top: 4rem;
                left: 9rem;
            }
            @include atExtralarge {
                top: 5rem;
                left: 10rem;
            }

            &__bubble {
                position: relative;
                padding: 0.25rem 1rem;
                border-radius: 3rem;
                background-color: $color-white;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 10px 20px rgba($color-black, 0.09), 0 6px 6px rgba($color-black, 0.123);
                transform: rotate(-15deg);
                @include atMedium {
                    padding: 0.5rem 1.5rem;
                }

                &:after {
                    content: "";
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 1rem 1rem 0;
                    border-color: transparent $color-white transparent transparent;
                    position: absolute;
                    bottom: 0;
                    right: 1.5rem;
                    transform: translateY(99%);
                }
            }
        }
        
        &-img {
            position: relative;
            bottom: 0;
            right: 0;
            width: 100%;

            @include atMedium {
                width: 75%;
            }
            @include atLarge {
                width: auto;
                max-height: 500px;
            }

            &:hover {
                & + .hero__profile-message {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }

    &--inactive {
        opacity: 0;
        transform: translateX(calc(-100% - 5rem));
    }
}