html,
body {
    overflow-x: hidden;
    font-size: 12px;
    @include atSmall {
        font-size: 14px;
    }
    @include atMedium {
        font-size: 15px;
    }
    @include atLarge {
        font-size: 16px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
ol,
span {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
}

input,
button {
    border: none;
    &:focus {
        outline: none;
    }
}

::selection {
    
}