.heading-primary {
    font-family: $font-title;
    color: $color-white;
    font-weight: 700;
    font-size: 5rem;
    line-height: $base-lineHeight;
    @include atSmall {
        font-size: 3.75rem;
    }
}

.heading-secondary {
    font-family: $font-title;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: $base-lineHeight;
    color: $color-dark;
    @include atSmall {
        font-size: 1.875rem;
    }
}

.heading-tertiary {
    font-family: $font-title;
    font-weight: 500;
    font-size: 2rem;
    color: $color-dark;
    @include atSmall {
        font-size: 1.5rem;
    }
}

.paragraph {
    font-family: $font-main;
    font-size: 1.333rem;
    font-weight: 300;
    line-height: $base-lineHeight;
    color: $color-dark;
    @include atSmall {
        font-size: 1rem;
    }

    &--small {
        font-size: 1rem;
        @include atSmall {
            font-size: 0.75rem;
        }
    }

    &--med {
        font-size: 1.667rem;
        @include atSmall {
            font-size: 1.25rem;
        }
    }

    & + & {
        margin-top: 1.333rem;
        @include atSmall {
            margin-top: 1rem;
        }
    }
}