// Color

.u-color {
    &-white {
        color: $color-white;
    }

    &-primary {
        color: $color-primary;
    }
}


// Margin

.u-margin {
    &-bottom {
        &-smaller {
            margin-bottom: 1rem;
            @include atSmall {
                margin-bottom: 0.75rem;
            }
        }

        &-small {
            margin-bottom: 1.333rem;
            @include atSmall {
                margin-bottom: 1rem;
            }
        }

        &-med {
            margin-bottom: 1.667rem;
            @include atSmall {
                margin-bottom: 1.25rem;
            }
        }
    }
}


// Padding

.u-padding {
    &-horizontal {
        &-null {
            padding-left: 0;
            padding-right: 0;
        }
    }
}


// Font weight

.u-weight {
    &-lgt {
        font-weight: 300;
    }

    &-reg {
        font-weight: 400;
    }

    &-med {
        font-weight: 500;
    }

    &-bld {
        font-weight: 700;
    }
}


// Font family

.u-font {
    &-title {
        font-family: $font-title;
    }

    &-main {
        font-family: $font-main;
    }
}


// Align

.u-align {
    &-block {
        &-center {
            margin-left: auto;
            margin-right: auto;
        }
    }
}


// Overflow

.u-overflow {
    &-vertical {
        &-hidden {
            overflow: hidden;
        }
    }
}