.section-main {
    transition: all .5s;
    position: relative;

    &--inactive {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.section-portfolio-viewer {
    transition: all .5s;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    height: 100vh;
    width: 100vw;

    &__back {
        position: absolute;
        top: 2.5rem;
        left: 2.5rem;
    }

    &__content {
        padding: 0;
    }

    &--active {
        transform: translateX(0);
    }
}