// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400|Ubuntu:500,700');

$font-main: "Nunito", "Helvetica", "Tahoma","Arial", sans-serif;
$font-title: "Ubuntu", "Helvetica", "Tahoma","Arial", sans-serif;

// Colors

$color-primary: #ff895d;

$color-dark: #333;

$color-white: #fff;
$color-black: #000;

// Sizes

$base-lineHeight: 1.5;