// Fonts

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400|Asap:500,700');

$font-main: "Nunito", "Helvetica", "Tahoma","Arial", sans-serif;
$font-title: "Asap", "Helvetica", "Tahoma","Arial", sans-serif;


// Colors

$color-primary: #ff895d;
$color-secondary: #c94747;
$color-accent: #c94747;

$color-dark: #333;

$color-white: #fff;
$color-gray: #f9f9f9;
$color-black: #000;


// Sizes

$base-lineHeight: 1.5;